<section class="customers">
  <div class="container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <ul class="customers__list">
      <li class="customers__item">
        <svg class="customers__svg-stars" width="101" height="16">
          <use href="./images/customers/symbol-defs.svg#icon-stars"></use>
        </svg>
        <h3 class="customers__item-title">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </h3>

        <ul class="customers__list-avatar">
          <li class="customers__item-avatar">
            <img
              class="customers__img"
              src="./images/customers/customers-icon-1.png"
              alt=""
            />
          </li>

          <li class="customers__item-avatar">
            <h3 class="customers__img-title">Sumith Shah</h3>
            <p class="customers__img-text">Some Dude</p>
          </li>

          <li class="customers__item-avatar">
            <hr class="customers__hr" />
          </li>
        </ul>
      </li>

      <li class="customers__item">
        <svg class="customers__svg-stars" width="101" height="16">
          <use href="./images/customers/symbol-defs.svg#icon-stars"></use>
        </svg>
        <h3 class="customers__item-title">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </h3>

        <ul class="customers__list-avatar">
          <li class="customers__item-avatar">
            <img
              class="customers__img"
              src="./images/customers/customers-icon-2.png"
              alt=""
            />
          </li>

          <li class="customers__item-avatar">
            <h3 class="customers__img-title">Sumith Shah</h3>
            <p class="customers__img-text">Some Dude</p>
          </li>

          <li class="customers__item-avatar">
            <hr class="customers__hr" />
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
