<section class="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-list__item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./images/favorites/desktop-1-favorites-1x.webp 1x, ./images/favorites/desktop-1-favorites-2x.webp 2x">
          <source media="(min-width: 768px)" srcset="./images/favorites/tablet-1-favorites-1x.webp 1x, ./images/favorites/tablet-1-favorites-2x.webp 2x">
          <source media="(max-width: 767px)" srcset="./images/favorites/mobile-1-favorites-1x.webp 1x, ./images/favorites/mobile-1-favorites-2x.webp 2x">
          <img
          class="favorites-list__image"
          src="./images/favorites/desktop-1-favorites-1x.webp"
          alt="Hamburger"
          />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./images/favorites/desktop-2-favorites-1x.webp 1x, ./images/favorites/desktop-2-favorites-2x.webp 2x">
          <source media="(min-width: 768px)" srcset="./images/favorites/tablet-2-favorites-1x.webp 1x, ./images/favorites/tablet-2-favorites-2x.webp 2x">
          <source media="(max-width: 767px)" srcset="./images/favorites/mobile-2-favorites-1x.webp 1x, ./images/favorites/mobile-2-favorites-2x.webp 2x">
          <img
          class="favorites-list__image"
          src="./images/favorites/desktop-2-favorites-1x.webp"
          alt="Pasta"
          />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./images/favorites/desktop-3-favorites-1x.webp 1x, ./images/favorites/desktop-3-favorites-2x.webp 2x">
          <source media="(min-width: 768px)" srcset="./images/favorites/tablet-3-favorites-1x.webp 1x, ./images/favorites/tablet-3-favorites-2x.webp 2x">
          <source media="(max-width: 767px)" srcset="./images/favorites/mobile-3-favorites-1x.webp 1x, ./images/favorites/mobile-3-favorites-2x.webp 2x">
          <img
          class="favorites-list__image"
          src="./images/favorites/desktop-3-favorites-1x.webp"
          alt="Pizza"
          />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./images/favorites/desktop-4-favorites-1x.webp 1x, ./images/favorites/desktop-4-favorites-2x.webp 2x">
          <source media="(min-width: 768px)" srcset="./images/favorites/tablet-4-favorites-1x.webp 1x, ./images/favorites/tablet-4-favorites-2x.webp 2x">
          <img
          class="favorites-list__image"
          src="./images/favorites/desktop-4-favorites-1x.webp"
          alt="Chicken-rice"
          />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./images/favorites/desktop-5-favorites-1x.webp 1x, ./images/favorites/desktop-5-favorites-2x.webp 2x">
          <source media="(min-width: 768px)" srcset="./images/favorites/tablet-5-favorites-1x.webp 1x, ./images/favorites/tablet-5-favorites-2x.webp 2x">
          <img
          class="favorites-list__image"
          src="./images/favorites/desktop-5-favorites-1x.webp"
          alt="Salad"
          />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source media="(min-width: 1280px)" srcset="./images/favorites/desktop-6-favorites-1x.webp 1x, ./images/favorites/desktop-6-favorites-2x.webp 2x">
          <source media="(min-width: 768px)" srcset="./images/favorites/tablet-6-favorites-1x.webp 1x, ./images/favorites/tablet-6-favorites-2x.webp 2x">
          <img
          class="favorites-list__image"
          src="./images/favorites/desktop-6-favorites-1x.webp"
          alt="Borsht"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
