<section class="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-list__item">
        <img
          class="favorites-list__image"
          src="./images/favorites/desktop-1-favorite-1x.webp"
          alt="hamburger"
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="favorites-list__image"
          src="./images/favorites/desktop-2-favorites-1x.webp"
          alt="pasta"
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="favorites-list__image"
          src="./images/favorites/desktop-3-favorites-1x.webp"
          alt="pizza"
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="favorites-list__image"
          src="./images/favorites/desktop-4-favorites-1x.webp"
          alt="chicken-rice"
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="favorites-list__image"
          src="./images/favorites/desktop-5-favorite-1x.webp"
          alt="salad"
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="favorites-list__image"
          src="./images/favorites/desktop-6-favorite-1x.webp"
          alt="borsch"
        />
      </li>
    </ul>
  </div>
</section>
