<section class="hero">
  <div class="container">
    <div class="hero__box">
      <div class="hero__box-element">
        <h2 class="hero__title">Enjoy Your Favorite Food From Anywhere</h2>
        <p class="hero__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <button class="hero__button" type="button" data-open-hero-modal>
          Order Now
        </button>
      </div>
      <div class="hero__box-element">
        <!-- <div class="slider-container hero__div-img swiper mySwiper">
          <div>
            <button class="swiper-button-prev"></button>
            <button class="swiper-button-next"></button>
          </div>
          <div class="swiper-container">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./images/hero/1-img-desctop-hero@1x.webp 1x,
                      ./images/hero/1-img-desctop-hero@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ./images/hero/1-img-tablet-hero@1x.webp 1x,
                      ./images/hero/1-img-tablet-hero@2x.webp 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <img
                    src="./images/hero/1-img-desctop-hero@1x.webp"
                    alt=""
                    class="hero__img"
                  />
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./images/hero/2-img-desctop-hero@1x.webp 1x,
                      ./images/hero/2-img-desctop-hero@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ./images/hero/2-img-tablet-hero@1x.webp 1x,
                      ./images/hero/2-img-tablet-hero@2x.webp 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <img
                    src="./images/hero/2-img-desctop-hero@1x.webp"
                    alt=""
                    class="hero__img"
                  />
                </picture>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./images/hero/3-img-desctop-hero@1x.webp 1x,
                      ./images/hero/3-img-desctop-hero@2x.webp 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ./images/hero/3-img-tablet-hero@1x.webp 1x,
                      ./images/hero/3-img-tablet-hero@2x.webp 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <img
                    src="./images/hero/3-img-desctop-hero@1x.webp"
                    alt=""
                    class="hero__img"
                  />
                </picture>
              </li>
            </ul>
          </div>
        </div> -->
        <div class="swiper mySwiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/hero/1-img-desctop-hero@1x.webp 1x,
                    ./images/hero/1-img-desctop-hero@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/hero/1-img-tablet-hero@1x.webp 1x,
                    ./images/hero/1-img-tablet-hero@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  src="./images/hero/1-img-desctop-hero@1x.webp"
                  alt=""
                  class="hero__img"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/hero/2-img-desctop-hero@1x.webp 1x,
                    ./images/hero/2-img-desctop-hero@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/hero/2-img-tablet-hero@1x.webp 1x,
                    ./images/hero/2-img-tablet-hero@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  src="./images/hero/2-img-desctop-hero@1x.webp"
                  alt=""
                  class="hero__img"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/hero/3-img-desctop-hero@1x.webp 1x,
                    ./images/hero/3-img-desctop-hero@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/hero/3-img-tablet-hero@1x.webp 1x,
                    ./images/hero/3-img-tablet-hero@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  src="./images/hero/3-img-desctop-hero@1x.webp"
                  alt=""
                  class="hero__img"
                />
              </picture>
            </li>
          </ul>
          <!-- <div class="b-p">
            <svg class="swiper-svg" width="40px" height="48px">
              <use href="./images/hero/hero-symbol-defs.svg#left-arrow"></use>
            </svg>
          </div>
          <div class="b-n">
            <svg class="sviper-svg" width="40px" height="48px">
              <use href="./images/hero/hero-symbol-defs.svg#right-arrow"></use>
            </svg>
          </div> -->
          <div class="swiper-button-next left-slider">
            <svg class="swiper-svg" width="40px" height="48px">
              <use href="./images/hero/hero-symbol-defs.svg#left-arrow"></use>
            </svg>
          </div>
          <div class="swiper-button-prev right-slider">
            <svg class="sviper-svg" width="40px" height="48px">
              <use href="./images/hero/hero-symbol-defs.svg#right-arrow"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="hero__backdrop hero__is-hidden" data-hero-backdrop>
      <form class="hero-modal">
        <button
          type="button"
          class="hero-modal__close-button"
          data-close-hero-modal
        >
          <svg class="hero-modal__svg">
            <use href="./images/hero/hero-symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <h3 class="hero-modal__title">Order Form</h3>
        <ul class="hero-modal__list">
          <li class="hero-modal__item">
            <p class="hero-modal__description">Name</p>
            <input
              type="text"
              id="name"
              placeholder="Your name"
              class="hero-modal__input"
              required
            />
          </li>
          <li class="hero-modal__item">
            <p class="hero-modal__description">Phone number</p>
            <input
              type="text"
              id="Phone"
              placeholder="+38(0_ _) _ _ _   _ _   _ _"
              class="hero-modal__input"
              required
            />
          </li>
          <li class="hero-modal__item">
            <p class="hero-modal__description">E-mail</p>
            <input
              type="text"
              id="e-mail"
              placeholder="example@gmail.com"
              class="hero-modal__input"
              required
            />
          </li>
        </ul>
        <button type="submit" class="hero-modal__send-button">Send</button>
      </form>
    </div>
  </div>
</section>
