$main-text-color: #2C2C2C;
$main-btn-color: #BBF330;
$header-and-footer-background: #FEFEFE;
$footer-text-color: #7EB101;
$link-active-color: #BBF330;
$main-border-and-elemets-color: #FFE550;
$form-text-color: #C4C4C4;
$eror-text-color: #FF705D;